{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure              {:mvn/version "1.10.0"}
           com.walmartlabs/lacinia          {:mvn/version "0.32.0"}
           com.walmartlabs/lacinia-pedestal {:mvn/version "0.11.0"}
           io.pedestal/pedestal.service     {:mvn/version "0.5.5"}
           io.pedestal/pedestal.jetty       {:mvn/version "0.5.5"}
           org.clojure/java.jdbc            {:mvn/version "0.7.9"}
           org.postgresql/postgresql        {:mvn/version "42.2.5"}}
 :aliases {:dev {:extra-paths ["test"]
                 :extra-deps  {org.clojure/test.check {:mvn/version "0.10.0-alpha3"}}}}}
